*
{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p
{
    font-size: 1.5rem;
}

#introduction
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.buttons
{
    display: flex;
    flex-direction: column;
}
.photo img
{
    width: 50vw;
}
.aboutMe
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3vw;
}
.aboutMe h1
{
    font-size: 5rem;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
button 
{
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin-top: 5vh;
    padding: 1em 1em;
    width: 14vw;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-size: 1.5rem;
    border-radius: 5%;
}
button:hover, button:focus 
{
    border-color: var(--hover);
    color: #fff;
}
.slide
{
    --color: #313131;
    --hover: #313131;
}
.slide:hover, .slide:focus
{
    box-shadow: inset 14vw 0 0 0 var(--hover);
}

#moreAboutMe
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 7vh;
}
.Questions
{
    text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
}
h2
{
    margin-bottom: 1vh;
    margin-top:1vh;
}
.habilities
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 8vh;
}
.personalInformation > p
{
    margin-left: 0.5vw;
}
.personalInformation ul
{
    list-style: none;
    margin-left: 0.5vw;
}
.skills > p
{
    margin-left: 0.5vw;
}
.skills ul
{
    list-style: none;
    margin-top: 7vh;
    margin-left: 0.5vw;
}
.skills ul li
{
    height: .6rem;
    background: #a1a1a1;
    width: 100%;
    margin-bottom: 6rem;
    padding: 0;
    position: relative;
}
.skills ul li strong
{
    position: absolute;
    left: 0;
    top: -3rem;
    color: #000000;
    font-size: 1.3rem;
    line-height: 2.4rem;
}
.skills ul li .Englishporcent
{
    width: 90%;
    background: #313131;
    position: relative;
    height: 100%;
}
.Englishporcent span
{
    position: absolute;
    right: 0;
    top: -2.6rem;
    display: block;
    color: white;
    font-size: 1.1rem;
    line-height: 1;
    background: #313131;
    padding: .6rem .6rem;
    border-radius: 3px;
}

#Proyects
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7vh;
}
.AllProyects
{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin-top: 8vh;
    margin-left: 6vw;
    margin-right: 6vw;
}
.links
{
    text-decoration: underline;
    color:#000000;
}
.VideogamesProyects > p
{
    margin-left: 0.5vw;
}
.VideogamesProyects ul
{
    list-style: none;
    margin-left: 0.5vw;
}
.OthersProyects > p
{
    margin-left: 0.5vw;
}
.OthersProyects ul
{
    list-style: none;
    margin-left: 0.5vw;
}
.photosProjects
{
    text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer
{
    background-color: #252525;
    width:100%;
}
.cantactMe
{
    text-align: center;
    text-decoration: white underline;
}
footer h3
{
    color:#fff;
    font-size: 1.6rem;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
footer p
{
    color:#fff;
    font-size: 1.3rem;
}
#Contact
{
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    padding-bottom: 4%;
}
#socialMedia
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2vh;
}
#socialMedia > div > a
{
    text-decoration: none;
}


@media screen and (max-width:1384px)
{
    p
    {
        font-size: 1rem;
    }
    .aboutMe h1
    {
        font-size: 3rem;
    }
    button 
    {
        font-size: 1rem;
    }
    footer h3
    {
        font-size: 1.1rem;
    }
    footer p
    {
        font-size:1rem;
    }
    h2
    {
        font-size: 1.7rem;
    }
    .Englishporcent span
    {
        font-size:0.7rem;
    }
    .skills ul li strong
    {
        font-size: 1.7rem;
    }
    .habilities
    {
        margin-top: 7vh;
    }
    .AllProyects
    {
        margin-top: 7vh;
    }
    #moreAboutMe
    {
        margin-top: 8vh;
    }
    #Proyects
    {
        margin-bottom: 6vh;
    }
}
@media screen and (max-width:1022px)
{
    p
    {
        font-size: .75rem;
    }
    .aboutMe h1
    {
        font-size: 2.5rem;
    }
    button 
    {
        font-size: .75rem;
    }
    footer h3
    {
        font-size: .8rem;
        padding-top: 2vh;
        padding-bottom: 1.5vh;
    }
    footer p
    {
        font-size:.6rem;
    }
    h2
    {
        font-size: 1rem;
    }
    .Englishporcent span
    {
        font-size: .75rem;
    }
    .skills ul li strong
    {
        font-size: 1rem;
    }
    .habilities
    {
        margin-top: 4vh;
    }
    .AllProyects
    {
        margin-top: 4vh;
    }
    #moreAboutMe
    {
        margin-top:6vh;
    }
    #Contact
    {
        padding-top: 2.5vh;
    }
    #Proyects
    {
        margin-bottom: 4vh;
    }
    #moreAboutMe
    {
        margin-top: 5vh;
    }
}
@media screen and (max-width:848px)
{
    #introduction
    {
        flex-direction: column-reverse;
    }
    .photo
    {
        text-align: center;
    }
    .buttons
    {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        padding-bottom: 2vh;
    }
    .habilities
    {
        display: flex;
        flex-direction: column;
        justify-content:none;
        margin-top: 3vh;
    }
    .AllProyects
    {
        display: flex;
        flex-direction: column;
        justify-content:none;
        margin-top: 3vh;
    }
    #moreAboutMe
    {
        margin-top: 4vh;
    }
    .photosProjects img
    {
        width:50vw
    }
    .photosProjects video
    {
        width:50vw
    }
    #socialMedia
    {
        padding-bottom: 1vh;
    }
    #Contact
    {
        padding-top: 2vh;
    }
    #Proyects
    {
        margin-bottom: 3vh;
    }
}
@media screen and (max-width:692px)
{
    p
    {
        font-size: .5rem;
    }
    .aboutMe h1
    {
        font-size: 1.5rem;
    }
    button 
    {
        font-size: .5rem;
    }
    footer h3
    {
        font-size: .6rem;
        padding-top: 1.5vh;
        padding-bottom: 1vh;
    }
    footer p
    {
        font-size:.5rem;
    }
    h2
    {
        font-size: .8rem;
    }
    .Englishporcent span
    {
        font-size: .5rem;
    }
    .skills ul li strong
    {
        font-size: .8rem;
    }
    .habilities
    {
        margin-top: 3vh;
    }
    .AllProyects
    {
        margin-top: 3vh;
    }
    #moreAboutMe
    {
        margin-top:4vh;
    }
    #socialMedia
    {
        padding-bottom: .5vh;
    }
    #Contact
    {
        padding-top: 1vh;
    }
    #Proyects
    {
        margin-bottom: 2vh;
    }
}